<% include partials/header %>

<h1>Hello friends welcome to yelpcamp</h1>

<h4>Click on below link for all camping grounds</h4>

<a href="/Camps">Check out Yelp Camps</a>

<% include partials/footer %>